.main_container {
  min-height: calc(100vh - 64px);
  margin-top: 0px;
}

.main_contents {
  position: relative;
  margin-top: 64px;
  padding: 24px 4.5vmin;
  min-height: calc(100vh - 64px);
}

.parts_1 {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 4vmin;
  height: 16vmin;
}

.parts_2 {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 4vmin;
  height: 16vmin;
  transform: rotate(180deg);
}