.header {
  display: grid;
  position: fixed;
  width: calc(100% - 13vmin);
  height: 64px;
  margin-top: -64px;
  margin-left: 6.5vmin;
  margin-right: 6.5vmin;
  backdrop-filter: blur(2.5px);
  z-index: 99;
  grid-template-rows: 64px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.title {
  position: relative;
  grid-column: 1;
}

.title img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 42px;
}

#a {
  text-decoration: none;
}

.underline {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.underline::before, .underline::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #787878ff;
  transform: scale(0, 1);
  transition: transform .3s;
}

.underline::before {
  right: 0;
  top: -30%;
  transform-origin: right;
}

.underline::after {
  left: 0;
  bottom: -30%;
  transform-origin: left;
}

.underline:hover::before {
  transform: scale(1);
}

.underline:hover::after {
  transform: scale(1);
}

.header_item {
  position: relative;
  margin: auto;
  text-align: center;
  font-size: large;
}

.header_item_select {
  position: relative;
  color: #00bebeff;
}

.header_item_select .underline::before {
 background-color: #00bebeff;
}

.header_item_select .underline::after {
  background-color: #00bebeff;
}

.header_item_select::before, .header_item_select::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 3px;
  height: 130%;
  background-color: #00bebeff;
  transform: translate(-50%, -50%);
  animation-name: item_select;
  animation-duration: 0.2s;
}

@keyframes item_select {
  0% {
    height: 0;
  }
  100% {
    height: 130%;
  }
}

.header_item_select::before {
  left: -10px;
}

.header_item_select::after {
  right: -13px;
}

.left_1 {
  grid-column: 13;
}

.left_2 {
  grid-column: 15;
}

.right_1 {
  grid-column: 17;
}

.right_2 {
  grid-column: 19;
}

/**/
@media screen and (max-width: 1400px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .title {
    grid-column: 1 / 4;
  }

  .title img {
    height: 26px;
  }

  .header_item {
    font-size: smaller;
  }

  .left_1 {
    grid-column: 5;
  }

  .left_2 {
    grid-column: 7;
  }

  .right_1 {
    grid-column: 9;
  }

  .right_2 {
    grid-column: 11;
  }
}