.header {
  display: grid;
  position: fixed;
  width: 100%;
  height: 64px;
  margin-top: -64px;
  background-color: rgb(245, 248, 248);
  z-index: 99;
  grid-template-rows: 64px;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

.title {
  grid-column: 9 / 13;
  line-height: 64px;
  height: 64px;
  text-align: center;
  font-size: xx-large;
}

.title img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 44px;
}

.header_item {
  line-height: 64px;
  text-align: center;
}

.left_1 {
  grid-column: 7;
}

.left_2 {
  grid-column: 8;
}

.right_1 {
  grid-column: 13;
}

.right_2 {
  grid-column: 14;
}

.divider {
  position: absolute;
  bottom: 0px;
  width: 96%;
  height: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgb(100, 100, 100);
}