.header {
  display: grid;
  position: fixed;
  width: calc(100% - 5vw);
  height: 64px;
  margin-top: -64px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background-color: rgb(245, 248, 248);
  z-index: 99;
  grid-template-rows: 64px;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

.title {
  grid-column: 9 / 13;
  line-height: 64px;
  height: 64px;
  text-align: center;
  font-size: xx-large;
}

.title img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 44px;
}

#a {
  text-decoration: none;
}

.underline {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.underline::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: -30%;
  width: 100%;
  height: 1px;
  background-color: #011729;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform .3s;
}

.underline:hover::before {
  transform: scale(1);
}

.header_item {
  margin: auto;
  text-align: center;
}

.header_item_select {
  padding: 5%;
  background-color: #0117296e;
  color: #f5f8f8;
  transition: transform .3s;
}

.left_1 {
  grid-column: 6;
}

.left_2 {
  grid-column: 8;
}

.right_1 {
  grid-column: 13;
}

.right_2 {
  grid-column: 15;
}

.divider {
  position: absolute;
  bottom: 0px;
  width: 96%;
  height: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgb(100, 100, 100);
}



/**/
@media screen and (max-width: 1400px) {
  .header {
    grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
  }

  .title {
    grid-column: 5 / 8;
  }

  .title img {
    height: 28px;
  }

  .left_1 {
    grid-column: 2;
  }

  .left_2 {
    grid-column: 4;
  }

  .right_1 {
    grid-column: 9;
  }

  .right_2 {
    grid-column: 11;
  }
}