.header {
  display: grid;
  position: fixed;
  width: calc(100% - 5vw);
  height: 64px;
  margin-top: -64px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background-color: #f5f8f8e7;
  z-index: 99;
  grid-template-rows: 64px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.title {
  grid-column: 9 / 13;
  line-height: 64px;
  height: 64px;
  text-align: center;
  font-size: xx-large;
}

.title img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
}

#a {
  text-decoration: none;
}

.underline {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.underline::before, .underline::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #011729;
  transform: scale(0, 1);
  transition: transform .3s;
}

.underline::before {
  right: 0;
  top: -30%;
  transform-origin: right;
}

.underline::after {
  left: 0;
  bottom: -30%;
  transform-origin: left;
}

.underline:hover::before {
  transform: scale(1);
}

.underline:hover::after {
  transform: scale(1);
}

.header_item {
  position: relative;
  margin: auto;
  text-align: center;
  font-size: large;
}

.header_item_select {
  position: relative;
}

@keyframes item_select {
  0% {
    height: 0;
  }
  100% {
    height: 130%;
  }
}

.header_item_select::before, .header_item_select::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 5px;
  height: 130%;
  border-radius: 1px;
  background-color: #011729;
  transform: translate(-50%, -50%);
  animation-name: item_select;
  animation-duration: 0.2s;
}

.header_item_select::before {
  left: -10px;
}

.header_item_select::after {
  right: -15px;
}

.left_1 {
  grid-column: 6;
}

.left_2 {
  grid-column: 8;
}

.right_1 {
  grid-column: 13;
}

.right_2 {
  grid-column: 15;
}

.divider {
  position: absolute;
  bottom: 0px;
  width: 96%;
  height: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgb(100, 100, 100);
}

/**/
@media screen and (max-width: 1400px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .title {
    grid-column: 5 / 8;
  }

  .title img {
    height: 22px;
  }

  .header_item {
    font-size: smaller;
  }

  .left_1 {
    grid-column: 2;
  }

  .left_2 {
    grid-column: 4;
  }

  .right_1 {
    grid-column: 9;
  }

  .right_2 {
    grid-column: 11;
  }
}