.center_hex {
  position: absolute;
  width: 85vmin;
  height: 85vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/assets/center_hex.svg");
}

.center_hex_title {
  position: absolute;
  width: 48%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: xx-large;
}

.center_hex_text {
  position: absolute;
  width: 78%;
  height: 48%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  word-wrap: keep-all;
}

.item_hex {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  cursor: pointer;
}

.item_hex_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/assets/item_hex_fill.svg");
}

.item_hex_outline {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/assets/item_hex_outline.svg");
}

.item_hex_title {
  position: absolute;
  width: 48%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: x-large;
}

.item_hex_text {
  position: absolute;
  width: 78%;
  height: 48%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  word-wrap: keep-all;
}