/*center*/
.center_hex {
  position: absolute;
  width: 85vmin;
  height: 85vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_hex_title {
  position: absolute;
  width: 48%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: xx-large;
}

.center_hex_text {
  position: absolute;
  width: 78%;
  height: 48%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  word-wrap: keep-all;
}

/*item*/
.item_hex {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  cursor: pointer;
  transition: 0.25s ;
}

.item_hex:hover {
  color: #f5f8f8;
}

.item_hex:hover .item_hex_hover {
  width: 105%;
  height: 105%;
  transition: 0.3s ;
}

.item_hex:hover .item_hex_img{
  opacity: 1;
  transition: 0.25s ;
}

.item_hex:hover .item_hex_outline g path{
  stroke: #f5f8f8;
  transition: 0.145s;
}

.item_hex_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ;
}

.item_hex_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.item_hex_outline {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.145s;
}

.item_hex_title {
  position: absolute;
  width: 48%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: x-large;
}

.item_hex_text {
  position: absolute;
  width: 78%;
  height: 48%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  word-wrap: keep-all;
}