/*center*/
.center_hex {
  position: absolute;
  width: 85vmin;
  height: 85vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_hex_outline {
  position: absolute;
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_hex_outline_0 {
  transform: translate(-50%, -50%) rotate(0deg);
  animation-name: home_anim0;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.center_hex_outline_1 {
  transform: translate(-50%, -50%) rotate(360deg) scale(1, -1);
  animation-name: home_anim1;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.center_hex_outline_2 {
  transform: translate(-50%, -50%) rotate(180deg) scale(1, -1);
  animation-name: home_anim2;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.center_hex_outline_3 {
  transform: translate(-50%, -50%) rotate(180deg);
  animation-name: home_anim3;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes home_anim0 {
  0% {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes home_anim1 {
  0% {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes home_anim2 {
  0% {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes home_anim3 {
  0% {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

.center_hex_title {
  position: absolute;
  width: 48%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  text-align: center;
  font-size: 6vmin;
  font-weight: 500;
}

.center_hex_text {
  position: absolute;
  width: 78%;
  height: 48%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  word-wrap: keep-all;
}

.text_end {
  position: absolute;
  right: 0;
  height: 8%;
  width: 8%;
}

/*item*/
.item_hex {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  cursor: pointer;
  transition: 0.25s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item_hex:hover {
  color: #f5f8f8;
}

.item_hex:hover .item_hex_hover {
  width: 108%;
  height: 108%;
  opacity: 1;
}

.item_hex:hover .item_hex_img{
  opacity: 1;
}

.item_hex:hover .item_hex_outline g path{
  stroke: #f5f8f8;
}

.item_hex:hover .item_hex_title {
  font-weight: 400;
}

.item_hex:hover .item_hex_title::before, .item_hex:hover .item_hex_title::after {
  width: 100%;
}

.item_hex:hover .item_hex_text {
  opacity: 1;
  color: #f5f8f8;
}

.item_hex_hover {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}

.item_hex_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s;
}

.item_hex_outline {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.6s;
}

.item_hex_title {
  position: absolute;
  z-index: 1;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
  text-align: center;
  font-size: 4vmin;
  font-weight: 300;
}

.item_hex_title::before, .item_hex_title::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  background: #00bebeff;
  z-index: -1;
  transition: ease-out 0.4s;
}

.item_hex_title::before {
  left: 0;
  bottom: -3px;
}

.item_hex_title::after {
  right: 0;
  top: -3px;
}

.item_hex_text {
  position: absolute;
  top: 65%;
  bottom: 0;
  left: 0%;
  right: 0;
  margin: auto;
  text-align: center;
  word-wrap: keep-all;
  font-size: 1.5vmin;
  font-weight: 500;
  color: #282828;
  opacity: 0;
  transition: 0.4s;
}