.page_title {
  position: relative;
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: 5.5vmin;
  font-weight: 500;
}

.page_contents {
  display: grid;
  grid-auto-rows: 45vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  min-height: 100%;
  text-align: center;
  margin-top: 3vh;
}

.title_hex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.page_contents_title_l {
  position: relative;
  grid-column: 1 / 5;
}

.page_contents_title_r {
  position: relative;
  grid-column: 8 / 14;
}

.page_contents_title_l span, .page_contents_title_r span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vmin;
  font-weight: 300;
}

.page_contents_text_l {
  position: relative;
  grid-column: 6 / 14;
  text-align: center;
}

.page_contents_text_r {
  position: relative;
  grid-column: 1 / 7;
  text-align: center;
}

.page_contents_text_l span, .page_contents_text_r span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page_point_1 {
  position: absolute;
  top: 50%;
  left: -80%;
  transform: translate(0%, -50%);
}

.page_point_2 {
  position: absolute;
  top: 50%;
  right: -80%;
  transform: translate(0%, -50%);
}