.page_title {
  position: relative;
  display: flex;
  height: 7vmin;
  width: 100%;
}

.page_title p {
  position: relative;
  margin: 0 0;
  font-size: 6.5vmin;
  font-weight: 300;
}

.title {
  color: #00bebeff;
}

.title_parts {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
