.page_title {
  position: relative;
  display: flex;
  height: 9vmin;
  width: 100%;
}

.page_title p {
  position: relative;
  margin: 0 0;
  font-size: 8.5vmin;
  font-weight: 300;
}

.title_1 {
  color: #00bebeff;
}

.title_parts {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page_contents {
  /*display: grid;
  grid-auto-rows: calc(100vh - 151px - 5.5vmin);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;*/
  width: 100%;
  min-height: 100%;
  margin-top: 24px;
}

.page_contents_01 {
  position: relative;
  width: 100%;
  height: 78vh;
}

.page_contents_title {
  position: relative;
  height: 15%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 6vmin;
  font-weight: 400;
}

.page_contents_title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3vmin;
  left: 0px;
  bottom: 0px;
  background-color: #282828;
}

.page_contents_title span {
  position: absolute;
  height: fit-content;
  bottom: 10%;
}

.page_contents_title span::after {
  content: '';
  background-image: url('/assets/text_end.svg');
  background-size: cover;
  position: absolute;
  bottom: 1.5vmin;
  width: 6.25vmin;
  height: 1vmin;
  margin-left: 2vmin;
}

.page_contents_title_img {
  position: absolute;
  left: -8%;
  bottom: calc(0.15vmin - 50%);
}

.page_contents_title_img_2 {
  position: absolute;
  right: -8%;
  bottom: calc(0.15vmin - 50%);
}

.page_contents_text {
  position: relative;
  height: 85%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}

.page_contents_text span {
  position: absolute;
  width: 100%;
  height: calc(100% - 24px);
  margin-top: 24px;
}

@media screen and (max-width: 1400px) {
  .page_contents_title, .page_contents_text {
    margin-left: 10%;
    margin-right: 10%;
  }
}